=render 'subheader'
.actions.ue-container
  .actions__header
    %h1.actions__title= t('actions.gathering.title')
    .actions__subtitle= t('actions.gathering.subtitle')
    .actions__banner Postponed until June 21st, 2016

  .actions__subheader= t('actions.gathering.intro.header')
  .actions__content= t('actions.gathering.intro.content1')
  .actions__content= t('actions.gathering.intro.content2')

  .actions__subheader= t('actions.gathering.proposal.header')
  .actions__content= raw t('actions.gathering.proposal.content1')
  .actions__content= raw t('actions.gathering.proposal.content2')
  .actions__content= raw t('actions.gathering.proposal.content3')
