=render 'subheader'
.actions.ue-container.actions__uecc
  .actions__header
    =image_tag 'actions/uecc/header.jpg', class: 'actions__header_image'

  %h1.actions__title The United Earth Co-creator Convergence 2016
  %div.actions__subtitle-com21
    April 19-23 (Earth Day) @ United Earth Synergy Hub Rotterdam, The Netherlands

  .actions__content
    The United Earth Co-creator Convergence 2016 (UECC) will gather 100 heart-centred change-agents, whole-systems thinkers, technological innovators, wisdom keepers and conscious evolutionaries in a space that is designed to optimise our synergistic co-creation. We are inviting players from all sectors, all continents and all ages to meet, align and strategise around how we can best continue supporting the Movement of Movements. Our intention is to connect the connectors. Space will also be made during the gathering to liaise with local government officials, progressive business leaders and the local academic community to initiate a broad-spectrum, transitional collaboration among these sectors.

  .actions__content
  %b Intentions for the Convergence:
  %ul
    %li To meet and build personal relationships and connection among co-creators
    %li To explore together how to steward and grow the Movement of Movements
    %li
      To co-create
      %b The Global Transition Gathering on June 20-21

  .actions__content
    The UECC is being co-created by
    = link_to 'The Club of Budapest,', 'http://www.clubofbudapest.org', target: '_blank'
    = link_to 'The Hague Centre,', 'http://www.thehaguecenter.org/', target: '_blank'
    = link_to 'Four Worlds International Institute,', 'http://www.fwii.net/', target: '_blank'
    = link_to 'Compassion Games International,', 'http://compassiongames.org/', target: '_blank'
    = link_to 'yunity,', 'https://yunity.org', target: '_blank'
    = link_to 'Noomap,', 'http://noomap.info', target: '_blank'
    and
    = link_to 'United Earth.', landing_page_path