%h1 Listing groups

%table
  %thead
    %tr
      %th Name
      %th Contact name
      %th Contact email
      %th Country
      %th Website
      %th Logo
      %th ecological
      %th environment
      %th indi
      %th social
      %th economics
      %th political
      %th animal
      %th activism
      %th tech
      %th holistic
      %th conscious
      %th Comment
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.contact_name
        %td= group.contact_email
        %td= group.country
        %td= group.website
        %td= group.logo
        %td= check_mark group.cat_ecological
        %td= check_mark group.cat_environment
        %td= check_mark group.cat_indi
        %td= check_mark group.cat_social
        %td= check_mark group.cat_economics
        %td= check_mark group.cat_political
        %td= check_mark group.cat_animal
        %td= check_mark group.cat_activism
        %td= check_mark group.cat_tech
        %td= check_mark group.cat_holistic
        %td= check_mark group.cat_conscious
        %td= group.comment
        %td= link_to 'Show', group
        - if false
          %td= link_to 'Edit', edit_group_path(group)
          %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

