%h1 Listing users

%table
  %thead
    %tr
      %th Username
      %th Email
      %th Firstname
      %th Lastname
      %th Newsletter
      %th Feedback
      %th Admin
      %th Coordination
      %th Writing
      %th Translations
      %th Webdev
      %th Design
      %th Development
      %th Audio/Video
      %th Communication
      %th Networking
      %th Education
      %th Art
      %th Management
      %th Fundraising
      %th Funding
      %th Other
      %th Expertise
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= user.firstname
        %td= user.lastname
        - if user.personal_info.nil?
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
        - else
          %td= check_mark user.personal_info.newsletter
          %td= user.personal_info.public_feedback
          %td= check_mark user.personal_info.contrib_admin
          %td= check_mark user.personal_info.contrib_coord
          %td= check_mark user.personal_info.contrib_writing
          %td= check_mark user.personal_info.contrib_translations
          %td= check_mark user.personal_info.contrib_webdev
          %td= check_mark user.personal_info.contrib_design
          %td= check_mark user.personal_info.contrib_dev
          %td= check_mark user.personal_info.contrib_avprod
          %td= check_mark user.personal_info.contrib_communication
          %td= check_mark user.personal_info.contrib_networking
          %td= check_mark user.personal_info.contrib_education
          %td= check_mark user.personal_info.contrib_art
          %td= check_mark user.personal_info.contrib_management
          %td= check_mark user.personal_info.contrib_fundraising
          %td= check_mark user.personal_info.contrib_funding
          %td= user.personal_info.contrib_other
          %td= user.personal_info.expertise

        %td= link_to 'Show', user
        - if false
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
