.about.ue-container
  .about__header
    %h1.about__title= t('about.header.title')

  .learn-more__items
    .learn-more__items_item
      .learn-more__items_item_header=t('landing.learn-more.what.header')
      .learn-more__items_item_content=t('landing.learn-more.what.content1')
      .learn-more__items_item_content=t('landing.learn-more.what.content2')
    .learn-more__items_item
      .learn-more__items_item_header=t('landing.learn-more.why.header')
      .learn-more__items_item_content=t('landing.learn-more.why.content1')
      .learn-more__items_item_content=t('landing.learn-more.why.content2')
    .learn-more__items_item
      .learn-more__items_item_header=t('landing.learn-more.how.header')
      .learn-more__items_item_content=t('landing.learn-more.how.content1')
      .learn-more__items_item_content=t('landing.learn-more.how.content2')
      .learn-more__items_item_content=t('landing.learn-more.how.content3')

  .about__subheader= t('about.wiki.header')
  .about__content
    = t('about.wiki.text')
    = link_to t('about.wiki.link'), 'http://wiki.united-earth.vision', class: 'accent-button about__wiki-button', target: '_blank'

  .about__subheader= t('about.pioneers.header')


  .about__profile
    .about__profile_image
      = image_tag 'about/shannon.jpg'
    .about__profile_text
      .about__profile_text_name Shannon McArthur
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Co-creator
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body= link_to 'Our Heart Gardens', 'https://ourheartgardens.com', target: '_blank'
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body Social Change, Community Gardens, Beading, Writing
        %li
          .about__profile_text_text Working in my community sustains my self but reaching out to the world feeds my soul. United Earth gives me hope for the future and I enjoy working with this team as we move toward a better, more beautiful world.

  .about__profile
    .about__profile_image
      = image_tag 'about/yan.jpg'
    .about__profile_text
      .about__profile_text_name Yan Golding
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Co-creator, Networker, Consultant, Promoter
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body The Great Unification, One Drop Community Solutions
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body Conscious Evolution, Yoga, Permaculture, Dance, Community etc.
        %li
          .about__profile_text_text What a joy to find others who share and work for the same vision of global unity and collaboration! This is our collective dream coming true... I am so looking forward to consciously co-creating a human culture that reflects our potential!

  .about__profile
    .about__profile_image
      = image_tag 'about/david.jpg'
    .about__profile_text
      .about__profile_text_name David Kam
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Ambassador, connector, co-creator, nation builder, currency designer, artist, ...
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body
            = link_to 'Mother Earth Trust', 'http://MotherEarthTrust.com', target: '_blank'
            ,
            = link_to 'Indigenous Peoples United Nations', 'http://IP-UN.org', target: '_blank'
            ,
            = link_to 'Imagine Nation', 'http://TheEarthConstitution.org', target: '_blank'
            ,
            LOHAS Group,
            = link_to 'Earth Dollar Foundation', 'http://EarthDollar.org', target: '_blank'
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body People, animals, nature, trees, fresh water, social activism, making the wold a better place, world peace, indigenous culture, helping people, painting, creating, dancing, designing, socializing, traveling,...
        %li
          .about__profile_text_text
            Love is the root of all that I do. For the love of people I hope to work with like minded people to end poverty in my lifetime. For the love of nature I am also looking to transform society back to living in harmony with nature and to be sustainable.

  .about__profile
    .about__profile_image
      = image_tag 'about/justin.jpg'
    .about__profile_text
      .about__profile_text_name Justin Furuta
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Co-creator
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body Declaration to Create a United Earth
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body Spiritual philosophy, natural healing, nutrition, crystals and gems, art, music, exercise
        %li
          .about__profile_text_text I'm glad to see that the Earth family is moving towards oneness and to be able to contribute to this movement.


  .about__profile
    .about__profile_image
      = image_tag 'about/gien.jpg'
    .about__profile_text
      .about__profile_text_name James Gien Varney-Wong
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Imagineer, System change architect

        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body
            = link_to 'Stop Reset Go', 'http://www.stopresetgo.org/', target: '_blank'
            = link_to 'Institute of Future Living', 'http://futureliving.institute/', target: '_blank'
            = link_to 'Ingienous Designs', 'http://www.ingienous.com', target: '_blank'
        %li
          .about__profile_text_text
            Developing rapid whole system change strategies at global and local level involving shifting human consciousness, development of open source, circular economic based local economies, gamified whole system change collaborative systems

  .about__profile
    .about__profile_image
      = image_tag 'about/nico.jpg'
    .about__profile_text
      .about__profile_text_name Nicolas Luck
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Co-creator, Coder, Hacker, Admin, Networker
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body
            = link_to 'Dortmunder Kaminphilosophen', 'http://kaminphilosophen.de', target: '_blank'
            = link_to '9elements', 'http://9elements.com', target: '_blank'
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body The universe, authentic communication, blockchain, Ethereum, humans, Yoga, technologies of liberation
        %li
          .about__profile_text_text So glad to have found 'the others'! I know deep in my heart that we as humans can transform this world when heart meets intellect, male meets female, yin meets yang... There's infinite power when we manifest the love that we came from!

  .about__profile
    .about__profile_image
      = image_tag 'about/christopher.jpg'
    .about__profile_text
      .about__profile_text_name Christopher Le Breton
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Blueprint Facilitator and Implementer
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body Declaration to Create a United Earth
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body
            Inspiring People Around the World to Live in Sustainable Partnership with the Natural World.
            Spiritual awareness, Communication. Linking peoples together, fostering collaboration and cooperation.  Inspiring and Training for Sustainable Communities. Natural healing, Nature spirits. Young Elder in touch with both western world and indigenous world.

  .about__profile
    .about__profile_image
      = image_tag 'about/tom.jpg'
    .about__profile_text
      .about__profile_text_name Tom Harper
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Co-creator
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body
            Co collaborator with
            = link_to 'stopresetgo.org'
            Resource and sustainability at Unusual Industries (day Job).
            Circular Economy MBA
            = link_to 'ellenmacarthurfoundation.org'
            Transition Norwich core group 2009-2012 - Co creator of the Oil game
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body
            Interested in contributing towards whole system change, the transition to a peaceful, restorative, ecologically literate and socially just system for all sentient beings

  .about__profile
    .about__profile_image
      = image_tag 'about/thorsten.jpg'
    .about__profile_text
      .about__profile_text_name Thorsten Wiesmann
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Co-creator
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body
            = link_to 'http://www.thorstenwiesmann.de', 'http://www.thorstenwiesmann.de', target: '_blank'
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body
            Author and  Meditation Trainer who has published two books and several articles on the topic of social change. He is exploring and connecting various social and scientific civil society movements to empower people of all ages to assume responsibility for creating a global transformation. For the past 20 years he has been self exploring life according to the Ageless Wisdom Teachings.


  .about__profile
    .about__profile_image
      = image_tag 'about/andrew.jpg'
    .about__profile_text
      .about__profile_text_name Andrew Gaines
      %ul
        %li
          .about__profile_text_head Role:
          .about__profile_text_body Instigator: the Inspiring Transition initiative. Creativity trainer, Feldenkrais practitioner, psychotherapist, humorist.
        %li
          .about__profile_text_head Organisation:
          .about__profile_text_body
            = link_to 'Inspiring Transition', 'www.inspiringtransition.net', target: '_blank'
        %li
          .about__profile_text_head Interests:
          .about__profile_text_body
            Communicating about whole system change, helping people think better, playing improvised Spanish guitar, chess, Go, Tai Chi, design thinking, improvisational acting, massage, playful exploratory conversations...
        %li
          .about__profile_text_text
            I’m committed to transitioning to a life-sustaining civilisation. I think that engaging thoughtful mainstream commitment to large-scale systemic change is essential for success. The Inspiring Transition model is to engage thousands of groups and their members as citizen educators, and provide open source ready-to-use communication tools. Let’s do it!




  %h2.about__title-noomap Noomap - a Global Synergy Engine<br>for co-creating the world we know is possible
  .about__quote “We become what we behold... we shape our tools and afterwards our tools shape us”
  .about__quote-author Marshall McLuhan
  .col-sm-6
    %iframe{src:"https://www.youtube.com/embed/etE6k6nKyEg", frameborder:"0", allowfullscreen: true, height: 300}
      %small Since releasing this video 15 months ago, Noomap’s user interface, capabilities and team has evolved significantly. Nonetheless, this video exemplifies the heart and spirit behind Noomap which remains consistent. We look forward to sharing more up-to-date communications very soon.</small>
  .col-md-6.about__content
    Noomap is a visionary new social and digital prototype technology supporting the establishment of a United Earth platform. Noomap is gifting forward a fractal operating environment which is a whole systems tool for holonic communication and media. Noomap’s mission is to provide an evolutionary framework for facilitating a planet-wide inspirational network of community collaboration as well as opportunities for both decentralised and unified governance.  We invite the world to join us in building a Global Synergy Engine featuring Resonance and Synergy Algorithms (Synergy Engine Optimization) that generate a literal ‘world wide web’ of planetary co-creation; connecting us all into a unified ecosystem through mapping our individual, communal and collective visions, intentions, passions, skills, resources, and more for all to see and share.

  .col-md-12
    .about__subheader Awakening the Noosphere
    .about__quote “For Teilhard de Chardin, the noosphere is preceded by the elaboration of a planetary information network, which then also becomes the last material-technological rite of passage before reaching an “Omega point,” This Omega point… is the entrance of humanity, and the planet, into the noosphere, the One Mind of Earth...”
    .about__quote-author Law of Time


    .about__content Humanity’s most extraordinary wealth of energy and information includes our collective heart, passion for creativity and infinite imagination. In the Noo world our dreams, our intentions, our intuitions, and our spectrum of gifts become the planet’s most precious and abundant natural resources.  As a species, we have not been able to truly explore the realities of our non physical landscapes in an intelligent way.  We have mapped the oceans, the stars, the land … and now a new terrain beckons. From inner space, we will see ourselves anew, and as the noosphere awakens so do the most wonderful opportunities for transformation.
    .about__subheader Co-creating Noomap
    .about__content
      The United Earth community and the Noomap Family are in an emergent co-creationship. Together, along with every community, organization, group and individual, we invite you to all join us in co-creating Noomap and catalyzing the greatest game of co-creation the planet has ever seen. A unified network of co-creators experiencing their natural interconnectedness and interdependence through resonance, synergy, compassion, and the collective wisdom of the awakening social body.
      In the spirit of realizing our gift civilization as one United Earth, connect with us to explore how we can all co-develop, co-incubate, co-innovate, co-resource, co-gift, co-fund and co-prosper Noomap for all. Noomap is currently at prototype and our team must now expand in order to realize this beautiful vision for all. Please email us at <a href="mailto:spiritualphilanthropy@gmail.com">spiritualphilanthropy@gmail.com</a> with any gifts and inspiration you can offer or questions about becoming co-creators with us. Our immediate intentions include receiving the support of developers, GUI/UX Designers, co-creation facilitators and funding and resources for the core team’s basic needs (this can be resources like ideas, collaborations, accommodations, currency donations, or connections to philanthropists and evolutionary investors who would resonate with our mission and enjoy supporting the planetary community through the project).

