.about.ue-container
  .about__header
    %h1.about__title= t('about.header.title')

  .about__subheader= t('about.wiki.header')
  .about__content
    = t('about.wiki.text')
    = link_to t('about.wiki.link'), 'http://wiki.united-earth.vision', class: 'accent-button about__wiki-button'

  .about__subheader= t('about.pioneers.header')


  %iframe.about__noomap-embed{src: 'http://metta.noomap.com/~co.unitedearthcocreators'}


  %h2.about__title-noomap Noomap - a Global Synergy Engine<br>for co-creating the world we know is possible
  .about__quote “We become what we behold... we shape our tools and afterwards our tools shape us”
  .about__quote-author Marshall McLuhan
  .col-sm-6
    %iframe{src:"https://www.youtube.com/embed/etE6k6nKyEg", frameborder:"0", allowfullscreen: true, height: 300}
      %small Since releasing this video 15 months ago, Noomap’s user interface, capabilities and team has evolved significantly. Nonetheless, this video exemplifies the heart and spirit behind Noomap which remains consistent. We look forward to sharing more up-to-date communications very soon.</small>
  .col-md-6.about__content
    Noomap is a visionary new social and digital prototype technology supporting the establishment of a United Earth platform. Noomap is gifting forward a fractal operating environment which is a whole systems tool for holonic communication and media. Noomap’s mission is to provide an evolutionary framework for facilitating a planet-wide inspirational network of community collaboration as well as opportunities for both decentralised and unified governance.  We invite the world to join us in building a Global Synergy Engine featuring Resonance and Synergy Algorithms (Synergy Engine Optimization) that generate a literal ‘world wide web’ of planetary co-creation; connecting us all into a unified ecosystem through mapping our individual, communal and collective visions, intentions, passions, skills, resources, and more for all to see and share.

  .col-md-12
    .about__subheader Awakening the Noosphere
    .about__quote “For Teilhard de Chardin, the noosphere is preceded by the elaboration of a planetary information network, which then also becomes the last material-technological rite of passage before reaching an “Omega point,” This Omega point… is the entrance of humanity, and the planet, into the noosphere, the One Mind of Earth...”
    .about__quote-author Law of Time


    .about__content Humanity’s most extraordinary wealth of energy and information includes our collective heart, passion for creativity and infinite imagination. In the Noo world our dreams, our intentions, our intuitions, and our spectrum of gifts become the planet’s most precious and abundant natural resources.  As a species, we have not been able to truly explore the realities of our non physical landscapes in an intelligent way.  We have mapped the oceans, the stars, the land … and now a new terrain beckons. From inner space, we will see ourselves anew, and as the noosphere awakens so do the most wonderful opportunities for transformation.
    .about__subheader Co-creating Noomap
    .about__content
      The United Earth community and the Noomap Family are in an emergent co-creationship. Together, along with every community, organization, group and individual, we invite you to all join us in co-creating Noomap and catalyzing the greatest game of co-creation the planet has ever seen. A unified network of co-creators experiencing their natural interconnectedness and interdependence through resonance, synergy, compassion, and the collective wisdom of the awakening social body.
      In the spirit of realizing our gift civilization as one United Earth, connect with us to explore how we can all co-develop, co-incubate, co-innovate, co-resource, co-gift, co-fund and co-prosper Noomap for all. Noomap is currently at prototype and our team must now expand in order to realize this beautiful vision for all. Please email us at <a href="mailto:spiritualphilanthropy@gmail.com">spiritualphilanthropy@gmail.com</a> with any gifts and inspiration you can offer or questions about becoming co-creators with us. Our immediate intentions include receiving the support of developers, GUI/UX Designers, co-creation facilitators and funding and resources for the core team’s basic needs (this can be resources like ideas, collaborations, accommodations, currency donations, or connections to philanthropists and evolutionary investors who would resonate with our mission and enjoy supporting the planetary community through the project).

