.donations.ue-container
  .donations__header
    %h1.donations__title= t('donations.title.header')

  .donations__content= raw t('donations.block1')
  .donations__content= raw t('donations.block2')
  .donations__content= raw t('donations.block3')
  .donations__content= raw t('donations.block4')
  .donations__content= raw t('donations.block5')

  .donations__buttons
    %form{action:"https://www.paypal.com/cgi-bin/webscr", method:"post", target:"_top"}
      %input{type:"hidden", name:"cmd", value:"_s-xclick"}
      %input{type:"hidden", name:"hosted_button_id", value:"8LXM9N4QD3J7G"}
      %input{type:"image", src:"https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif", border:"0", name:"submit", alt:"PayPal - The safer, easier way to pay online!"}
      %img{alt:"", border:"0", src:"https://www.paypalobjects.com/de_DE/i/scr/pixel.gif", width:"1", height:"1"}

    .crypto
      %script
        CoinWidgetCom.go({
        wallet_address: "135EyynJZvJFTHGwGUK9Ec3NCFBcUiGDgV"
        , currency: "bitcoin"
        , counter: "hide"
        , alignment: "bl"
        , qrcode: true
        , auto_show: false
        , lbl_button: "Donate"
        , lbl_address: "United Earth's address"
        , lbl_count: "donations"
        , lbl_amount: "BTC"
        });

      %script
        CoinWidgetCom.go({
        wallet_address: "135EyynJZvJFTHGwGUK9Ec3NCFBcUiGDgV"
        , currency: "litecoin"
        , counter: "hide"
        , alignment: "bl"
        , qrcode: true
        , auto_show: false
        , lbl_button: "Donate"
        , lbl_address: "United Earth's address"
        , lbl_count: "donations"
        , lbl_amount: "LTC"
        });
