.user-settings.ue-container
  .user-settings__header=t('user_settings.contribution')
  = form_for current_user.personal_info, url: update_personal_info_path(locale: I18n.locale), method: :post do |f|
    .line
      = f.check_box :contrib_admin
      = f.label :contrib_admin
    .line
      = f.check_box :contrib_coord
      = f.label :contrib_coord
    .line
      = f.check_box :contrib_writing
      = f.label :contrib_writing
    .line
      = f.check_box :contrib_translations
      = f.label :contrib_translations
    .line
      = f.check_box :contrib_webdev
      = f.label :contrib_webdev
    .line
      = f.check_box :contrib_design
      = f.label :contrib_design
    .line
      = f.check_box :contrib_dev
      = f.label :contrib_dev
    .line
      = f.check_box :contrib_avprod
      = f.label :contrib_avprod
    .line
      = f.check_box :contrib_communication
      = f.label :contrib_communication
    .line
      = f.check_box :contrib_networking
      = f.label :contrib_networking
    .line
      = f.check_box :contrib_education
      = f.label :contrib_education
    .line
      = f.check_box :contrib_art
      = f.label :contrib_art
    .line
      = f.check_box :contrib_management
      = f.label :contrib_management
    .line
      = f.check_box :contrib_fundraising
      = f.label :contrib_fundraising
    .line
      = f.check_box :contrib_funding
      = f.label :contrib_funding
    .line
      = f.label :contrib_other
      = f.text_field :contrib_other
    .line
      = f.label :expertise
      = f.text_field :expertise
    = f.submit