%link{href: 'http://vjs.zencdn.net/4.12/video-js.css', rel: 'stylesheet'}
%script{src:'http://vjs.zencdn.net/4.12/video.js'}

= content_for :parallax_background do
  .landing__background
  %video.header__bgvid{autoplay: true, loop: true, poster: image_path('landing_page/bg.jpg'), onclick: "document.getElementById('bgvid').play()"}
    %source{src: 'bg.m4v', type: 'video/x-m4v'}

= content_for :subheader do
  .roadmap__points
    .roadmap__points_item.roadmap__points_item-1.roadmap__points_item-selected
      .roadmap__points_item_ball
        .figure 1
      .roadmap__points_item_text= t('landing.roadmap.point1')
    .roadmap__points_item.roadmap__points_item-2
      .roadmap__points_item_ball
        .figure 2
      .roadmap__points_item_text= t('landing.roadmap.point2')
    .roadmap__points_item.roadmap__points_item-3
      .roadmap__points_item_ball
        .figure 3
      .roadmap__points_item_text= t('landing.roadmap.point3')
.landing
  .header
    .header__shade
    .header__prophecy
      .header__prophecy__content= raw t('landing.prophecy.content')
      .header__prophecy__footer= t('landing.prophecy.footer')

    =image_tag 'logo_gray_gold.svg', class: 'header__logo'
    .header__tagline= t('landing.tagline')

  .roadmap
    .roadmap__header= t('landing.roadmap.header')
    .roadmap__content= t('landing.roadmap.content')

    .roadmap__points
      .roadmap__points_item.roadmap__points_item-selected
        .roadmap__points_item_ball
          .figure 1
        .roadmap__points_item_text= t('landing.roadmap.point1')
      .roadmap__points_item
        .roadmap__points_item_ball
          .figure 2
        .roadmap__points_item_text= t('landing.roadmap.point2')
      .roadmap__points_item
        .roadmap__points_item_ball
          .figure 3
        .roadmap__points_item_text= t('landing.roadmap.point3')

  .video
    .video__header= t('landing.video.header')
    .video__video
      %video#intro-video{controls:true, preload: 'none', 'data-setup'=>'{}', poster: image_path('landing_page/video-poster.jpg'), class: 'video-js vjs-default-skin', width: '673px', height:'374px'}
        %source{src: 'intro.mp4', type: 'video/mp4'}

  .learn-more
    .learn-more__header=t('landing.learn-more.header')
    .learn-more__subnavi
      .learn-more__subnavi_1.learn-more__subnavi_selected=t('landing.learn-more.subnav.what')
      .learn-more__subnavi_2=t('landing.learn-more.subnav.why')
      .learn-more__subnavi_3=t('landing.learn-more.subnav.how')
    .learn-more__items
      .learn-more__items_item
        .learn-more__items_item_header=t('landing.learn-more.what.header')
        .learn-more__items_item_content=t('landing.learn-more.what.content1')
        .learn-more__items_item_content=t('landing.learn-more.what.content2')
      .learn-more__items_item
        .learn-more__items_item_header=t('landing.learn-more.why.header')
        .learn-more__items_item_content=t('landing.learn-more.why.content1')
        .learn-more__items_item_content=t('landing.learn-more.why.content2')
      .learn-more__items_item
        .learn-more__items_item_header=t('landing.learn-more.how.header')
        .learn-more__items_item_content=t('landing.learn-more.how.content1')
        .learn-more__items_item_content=t('landing.learn-more.how.content2')
        .learn-more__items_item_content=t('landing.learn-more.how.content3')

  .landing__signup
    .landing__signup__header=t('landing.signup.header')
    .landing__signup__intro=raw t('landing.signup.intro')

    .landing__signup__counter
      .landing__signup__counter_groups
        .landing__signup__counter_groups_text= "#{@groups.size} #{t('landing.signup.counter.groups')}"
      .landing__signup__counter_individuals
        .landing__signup__counter_individuals_text= "#{@users.size} #{t('landing.signup.counter.individuals')}"
      .landing__signup__counter_text= raw t('landing.signup.counter.text')

    .landing__signup__signup
      .landing__signup__signup_text= t('landing.signup.button.pre')
      = link_to t('landing.signup.button.button'), new_user_registration_path, class: 'landing__signup__signup__button'

    .landing__signup__groups
      - @groups.each do |group|

        = link_to group.website, class: 'landing__signup__item' do
          .overlay
          .landing__signup__item_name.name= group.name
          .landing__signup__item_image= image_tag group.logo.profile.url
          .landing__signup__item_info.info= group.comment

    .landing__signup__individuals
      - @users.each do |user|
        .landing__signup__item
          .overlay
          .landing__signup__item_name.name= "#{user.firstname} #{user.lastname}"
          .landing__signup__item_image= image_tag user.avatar.profile.url
          .landing__signup__item_info.info= user.personal_info.public_feedback

