%link{href: 'http://vjs.zencdn.net/4.12/video-js.css', rel: 'stylesheet'}
%script{src:'http://vjs.zencdn.net/4.12/video.js'}

= content_for :parallax_background do
  .landing__background
  %video.header__bgvid{autoplay: true, loop: true, poster: image_path('landing_page/bg.jpg'), onclick: "document.getElementById('bgvid').play()"}
    %source{src: 'bg.m4v', type: 'video/x-m4v'}
    %source{src: 'bg.mp4', type: 'video/mp4'}
    %source{src: 'bg.mkv', type: 'video/ogg'}

= content_for :subheader do
  .roadmap__points
    .roadmap__points_item
      .roadmap__points_item-1.roadmap__points_item-selected
        .roadmap__points_item_ball
          .figure 1
        .roadmap__points_item_text= t('landing.roadmap.point1')
    .roadmap__points_item
      .roadmap__points_item-2
        .roadmap__points_item_ball
          .figure 2
        .roadmap__points_item_text= t('landing.roadmap.point2')
    .roadmap__points_item
      .roadmap__points_item-3
        .roadmap__points_item_ball
          .figure 3
        .roadmap__points_item_text= t('landing.roadmap.point3')
.landing
  .header
    .header__shade
    .header__prophecy
      .header__prophecy__header= raw t('landing.prophecy.header')
      .header__prophecy__content= raw t('landing.prophecy.content')
      .header__prophecy__footer= raw t('landing.prophecy.footer')

    = fa_icon 'arrow-down', class: 'header__arrow-down'

    = link_to 'Click here to register for our Online Festival an March 19th!', actions_uefestival_path, class: 'header__news-button'
    =image_tag 'logo_gray_gold.svg', class: 'header__logo'
    .header__tagline= t('landing.tagline')

  .roadmap
    .roadmap__header#roadmap= t('landing.roadmap.header')
    .roadmap__content= raw t('landing.roadmap.content')

    .roadmap__points
      .roadmap__points_item.roadmap__points_item-selected.roadmap__points_item-1
        .roadmap__points_item_ball
          .figure 1
        .roadmap__points_item_text= t('landing.roadmap.point1')
      .roadmap__points_item.roadmap__points_item-2
        .roadmap__points_item_ball
          .figure 2
        .roadmap__points_item_text= t('landing.roadmap.point2')
      .roadmap__points_item.roadmap__points_item-3
        .roadmap__points_item_ball
          .figure 3
        .roadmap__points_item_text= t('landing.roadmap.point3')

  .video#video
    .video__video
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tSL2CUrcgPA" frameborder="0" allowfullscreen></iframe>

  .learn-more#learn-more
    .learn-more__subnavi
      .learn-more__subnavi_1.learn-more__subnavi_selected=t('landing.learn-more.subnav.what')
      .learn-more__subnavi_2=t('landing.learn-more.subnav.why')
      .learn-more__subnavi_3=t('landing.learn-more.subnav.how')
    .learn-more__items
      .learn-more__items_item
        .learn-more__items_item_header Your Call to Action!
        .learn-more__items_item_content United Earth is founded on the premise that the world our hearts know is possible awaits our intentional unification and collaboration to co-create it. The choice is ours to make.
        .learn-more__items_item_content While United Earth emerges through the Internet, it is both virtual and Earth-based. And both realms are open for each of us to cultivate - at the personal, local and global levels. In other words, United Earth - how it looks, feels, inspires, acts and impacts - will be reflected through each of us sharing our support, our feedback and our creativity.
        .learn-more__items_item_content Online petitioning websites such as Change.org and AVAAZ have clearly demonstrated how “clicktivism” can have a direct, local and practical impact. Now, rather than joining forces to fight or protest against a particular symptom of our degraded social systems (as is usually the case), United Earth invites us to use the Internet to effectively unite and collaborate around building the new - online and on the ground, globally and locally.

        .learn-more__items_item_header Stepping into a New Paradigm - Together

        .learn-more__items_item_subheader{'data-collapse'=> '#unite'}Step 1: Unite
        .ue-collapse#unite
          .learn-more__items_item_content Use the United Earth digital platform to join together with other people and groups from around the world to declare and demonstrate your willingness to unify and collaborate for a whole-systems transformation. This most simple action is potentially also the most powerful as it is a way for us to concentrate the power of our numbers into a common intention. Furthermore this step only needs to be taken once, while all other steps are ongoing.

        .learn-more__items_item_subheader{'data-collapse'=> '#spread'}Step 2: Spread the Word
        .ue-collapse#spread
          .learn-more__items_item_content The most effective action you can take towards promoting global unity is to simply tell all your friends, family and networks that United Earth is <i>happening</i>! While the world wide web extends our reach, our real-life conversations, presentations and gatherings allow for depth and personal connection.

        .learn-more__items_item_subheader{'data-collapse'=> '#change'} Step 3:  Being the Change
        .ue-collapse#change
          .learn-more__items_item_content We know that world peace begins with inner peace and that changing the world starts by changing ourselves. In our current reality, however, we are compelled to bring our emerging wisdom into action, into the way we relate to each other, our fellow creatures, and our planetary home. With an abundance of practical information and guidance available on the Internet we are each responsible for becoming ever more aware of the consequences of our lifestyle choices. <a href="https://docs.google.com/document/d/1lg5AEK-vCyQn_BPJYoLhuK280IjFEuCina2dW6s6spI/edit?usp=sharing">Self-education</a> is a vital responsibility that calls each of us to learn relevant skills that enable us to better support our Global Transition.

        .learn-more__items_item_subheader{'data-collapse'=> '#mobilise'} Step 4: Mobilize Locally
        .ue-collapse#mobilise
          .learn-more__items_item_content United Earth recognises the need to ground and actualise our global and online unification into local and practical actions and ideas. Through technologies like the upcoming Noomap Synergy Engine, the United Earth platform will soon develop into a hub for learning about and connecting with local groups, events and actions related to community-led transition strategies, ecological restoration, localisation, awareness raising, conscious living, celebration, etc. Until such time, we have designed a strategy whereby Facebook can serve as a temporary solution (please refer to the Networker’s Toolkit -under construction- for details).

        .learn-more__items_item_subheader{'data-collapse'=> '#join'} Step 5: Join the United Earth Co-creation Team
        .ue-collapse#join
          .learn-more__items_item_content Welcome! Everyone is invited! To unify our vast and diverse Human Family each one of us is called to contribute in our own unique way. Naturally, we each share according to our level of resonance. Rest assured, United Earth expects nothing from you. The invitation is not so much about “What you can do for United Earth?” but rather, ”How can United Earth support your passion, talents, and “gift to the world” into their highest expression?” The scope of your co-creation is limited only by your imagination.
          .learn-more__items_item_content Naturally, we each share according to our level of resonance. As uniquely creative and talented individuals, we each have our own role for bringing our common vision into its abundant manifestation. Quantum physics affirms the likelihood that if you resonate with United Earth, then you have already played a subconscious role in co-creating it.
          .learn-more__items_item_content Here and now you are being invited to help crystalise this collective manifestation by making your participation conscious - and rest assured that United Earth neither wants nor expects anything from you. The invitation is not so much about What you can do for United Earth?, but rather How can United Earth support your passion, talents, and “gift to the world” into their highest expression? The scope through which you can co-create is limited only by your imagination.
          .learn-more__items_item_content We look forward to welcoming new co-creators. Let us celebrate our unity and make history <i>together</i>!

        .learn-more__items_item_seperator-heading Further Reading:

        .learn-more__items_item_subheader{'data-collapse'=> '#viral'} How We Envision the Call for Unity and Collaboration Going “Viral”
        .ue-collapse#viral
          .learn-more__items_item_content As books and videos such as The Cultural Creatives by Dr.Paul H. Ray and The Blessed Unrest by Paul Hawken are revealing, there are today hundreds of millions of people and hundreds of thousands of groups around the world working for a brighter future. This “movement of movements” is the target group for catalyzing a United Earth.
          .learn-more__items_item_content-video <iframe width="560" height="315" src="https://www.youtube.com/embed/jNNeeAdUwBE" frameborder="0" allowfullscreen></iframe>
          .learn-more__items_item_content A wise Elder once said “By walking the path we make it visible for others.” According to scientific studies on social tipping points the critical mass is around 10% of the population.
          .learn-more__items_item_content-video <iframe width="420" height="315" src="https://www.youtube.com/embed/Xkz2OjMOg88" frameborder="0" allowfullscreen></iframe>
          .learn-more__items_item_content Spanning the entire spectrum of social change, ecological stewardship, indigenous culture, appropriate technology, personal development and beyond, we envision pioneers and pioneering organsations from each branch leading the way of unity. Thus, we can catalyse a snowball effect of global unity and collaboration that grows from inspiration and leading by example - that will inevitably overflow into the mainstream.
          .learn-more__items_item_content-video <iframe width="560" height="315" src="https://www.youtube.com/embed/oUF90mu0ZH0" frameborder="0" allowfullscreen></iframe>
        .learn-more__items_item_subheader{'data-collapse'=> '#diversity'} Diversity - Our Blessing and Our Challenge
        .ue-collapse#diversity
          .learn-more__items_item_content United Earth is inviting unity and collaboration on an unprecedented scale. Naturally we recognise our diversity as our cultural wealth, and at the same time the prospect of bringing together so many people and groups from so many cultures, backgrounds and areas of interests - all for a single common intention - inevitably raises numerous questions and challenges. Thus, “our” approach is to focus on our common ground - our shared values, understandings and aspirations.
          .learn-more__items_item_content Despite our best intentions and efforts we are always limited by language and words. Different personality types respond differently to the same language. Thus, finding the most universally appealing language is our collective endeavour. And at the same time we are also exploring the possibilities of creating different portals or entry-points that are self-selected according to our pre-cognitive nature (more information on this in the accompanying and highly recommended video).
          .learn-more__items_item_content As mentioned above, we foresee the snowballing of global unity beginning with people and groups who a) recognise the potential and possibilities of our intentional unification, and b) are willing and able to put aside ideological differences for the greater good of all. The latter is the key that hangs on our emotional and spiritual maturity.


        - if false
          .learn-more__items_item_subheader Conscious Learning

  .landing__white-container
    .landing__signup#signup
      = image_tag 'landing_page/community.jpg', class: 'landing__signup__header-image'
      .landing__signup__counter
        .landing__signup__counter_header United Earth Community Counter
        .landing__signup__counter_individuals
          .landing__signup__counter_individuals_text= "#{@number_of_all_users} #{t('landing.signup.counter.individuals')}"
        .landing__signup__counter_groups
          .landing__signup__counter_groups_text= "#{@groups.size} #{t('landing.signup.counter.groups')}"

      - if current_user.nil?
        .landing__signup__signup
          = link_to t('landing.signup.button.button'), new_user_registration_path, class: 'landing__signup__signup__button'

      .landing__signup__groups
        - @groups.each do |group|
          - unless group.logo.profile.url.nil?
            = link_to make_fullpath(group.website), target: '_blank', class: 'landing__signup__item' do
              .overlay
              .landing__signup__item_name.name= group.name
              .landing__signup__item_image= image_tag group.logo.profile.url
              .landing__signup__item_info.info= group.comment


    .landing__comments
      .landing__signup__counter_header Community Feedback
      Please share your enthusiasm, criticism, questions and ideas:
      <div class="fb-comments" data-href="http://united-earth.vision" data-numposts="50" data-width="100%"></div>