.menu
  .ue-container
    = link_to landing_page_path do
      .menu__logo=image_tag 'logo_green.svg' #render 'shared/logo'

    %ul.menu__list
      %li.menu__list_item{ class: ('active' if @at_about) }= link_to t('menu.about'), about_path
      %li.menu__list_item{ class: ('active' if @at_actions) }= link_to t('menu.actions'), actions_uecc_path
      %li.menu__list_item{ class: ('active' if @at_solutions) }= link_to t('menu.solutions'), solutions_path
      %li.menu__list_item{ class: ('active' if @at_donations) }= link_to t('menu.donate'), donations_path
      - unless current_user.nil?
        %li.menu__list_item=  link_to t('menu.settings'), user_settings_path, class: 'accent-button'
        %li.menu__overlaybox.menu__overlaybox-loggedin
          .share__text= raw t('user_settings.share.text')
          .share__buttons= social_share_button_tag("United Earth", :popup => "true")
          - if true
            .share__templates
              .share__templates_head= t('user_settings.share.templates.head')
              %ul
                %li= link_to t('user_settings.share.templates.personal'), '/UE_Personal_Invitation_Template.pdf', target: '_blank'
                %li= link_to t('user_settings.share.templates.group'), '/UE_Group_Invitation_Template.pdf', target: '_blank'
                %li= link_to t('user_settings.share.templates.changemaker'), '/UE_Change-maker_Invitation_Template.pdf', target: '_blank'
                %li= t('user_settings.share.templates.indigenous')

      - else
        %li.menu__list_item.menu__unite-button= link_to t('menu.signup'), new_user_registration_path, class: 'accent-button'
        %li.menu__overlaybox
          .menu__overlaybox_title
            .menu__overlaybox_title_head
              Add Your Voice
            .menu__overlaybox_title_sub
              for Global Unity and Collaboration!
          .menu__overlaybox_signups
            .menu__overlaybox_individuals
              .menu__overlaybox_number= @number_of_all_users
              individuals

            .menu__overlaybox_section and
            .menu__overlaybox_groups
              .menu__overlaybox_number= @groups.size
              = t('landing.signup.counter.groups')
            .menu__overlaybox_section have already signed up.
          .menu__overlaybox_button
            = link_to "Yes, I'm in!", new_user_registration_path, class: 'menu__overlaybox_signup-button'

    - unless current_user.nil?
      .menu__session
        = link_to '', destroy_user_session_path, class: 'menu__session_logout icon-sign-out'

    .menu__menu.icon-menu

    %ul.menu__list-mobile
      %li.menu__list_item{ class: ('active' if @at_about) }= link_to t('menu.about'), about_path
      %li.menu__list_item{ class: ('active' if @at_uecc) }= link_to t('actions.menu.uecc'), actions_uecc_path
      %li.menu__list_item{ class: ('active' if @at_uefestival) }= link_to t('actions.menu.uefestival'), actions_uefestival_path
      %li.menu__list_item{ class: ('active' if @at_com21) }= link_to t('actions.menu.com21'), actions_com21_path
      %li.menu__list_item{ class: ('active' if @at_gathering) }= link_to t('actions.menu.gathering'), actions_gathering_path
      %li.menu__list_item{ class: ('active' if @at_un) }= link_to t('actions.menu.un'), actions_un_path
      %li.menu__list_item{ class: ('active' if @at_solutions) }= link_to t('menu.solutions'), solutions_path
      %li.menu__list_item{ class: ('active' if @at_donations) }= link_to t('menu.donate'), donations_path
      - unless current_user.nil?
        %li.menu__list_item{ class: ('active' if @at_donations) }=  link_to t('menu.settings'), user_settings_path, class: 'accent-button'
        %li.menu__list_item.logout= link_to t('menu.logout'), destroy_user_session_path, class: 'icon-sign-out'
      - else
        %li.menu__list_item= link_to t('menu.signup'), new_user_registration_path, class: 'accent-button'
