!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UnitedEarth
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.admin{class: ('hide-header' if @at_landing)}
    .menu
      .menu__logo=image_tag 'logo_black.svg' #render 'shared/logo'
      %h1 Admin
      %ul
        %li{ class: ('active' if @at_users) }= link_to 'Users', '/admin/users'
        %li{ class: ('active' if @at_groups) }= link_to 'Groups', '/admin/groups'
    = yield
