!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UnitedEarth
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0, user-scalable=no' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = display_meta_tags site: 'United Earth'
    %link{rel: 'shortcut icon', href: 'favicon.ico'}
  %body{class: [('hide-header' if @at_landing), ('has-submenu' if @has_submenu)], 'data-logged-in' => (not current_user.nil?)}
    - unless @at_user_settings
      %script{type:'text/javascript', src:'//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js', 'data-shr-siteid'=>'85322f374cbdf9a79b3139a0b0dabcfc', 'data-cfasync'=>'false', async: 'async'}
    = render 'layouts/menu'
    .submenu= yield :subheader
    .parallax-container
      = yield :parallax_background
      .parallax-foreground
        .ue-container
          - flash.each do |name, msg|
            = content_tag :div, msg, class: name
        = yield
