!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UnitedEarth
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0, user-scalable=no' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = display_meta_tags site: 'United Earth'
    %link{rel: 'shortcut icon', href: 'favicon.ico'}
    %link{rel: 'stylesheet', type:'text/css', href:'//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css'}
    %script{type: 'text/javascript', src:'//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js'}

  %body{class: [('hide-header' if @at_landing), ('has-submenu' if @has_submenu), ('logged-in' if not current_user.nil?)], 'data-logged-in' => (not current_user.nil?)}
    %script
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '1513762645613611',
      xfbml      : true,
      version    : 'v2.5'
      });
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    - unless @at_user_settings
      %script{type:'text/javascript', src:'//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js', 'data-shr-siteid'=>'85322f374cbdf9a79b3139a0b0dabcfc', 'data-cfasync'=>'false', async: 'async'}
    = render 'layouts/menu'
    .submenu= yield :subheader
    .parallax-container
      = yield :parallax_background
      .parallax-foreground
        .ue-container
          - flash.each do |name, msg|
            = content_tag :div, msg, class: name
        = yield
