!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UnitedEarth
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: ('hide-header' if @at_landing), 'data-logged-in' => (not current_user.nil?)}
    = render 'layouts/menu'
    .submenu= yield :subheader
    .parallax-container
      = yield :parallax_background
      .parallax-foreground
        %p.notice= notice
        %p.alert= alert
        = yield
